@{
    ViewData["Title"] = "Política de Privacidade";
}

<header class="bg-middle text-white text-center py-5">
    <h1>@ViewData["Title"]</h1>
</header>
<main class="container my-2">
    <section class="mb-5">
        <h2 class="text-middle">1. Informações que Coletamos</h2>
        <p>Coletamos os seguintes tipos de informações:</p>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Informações fornecidas por você:</strong> Nome, e-mail e outras informações fornecidas voluntariamente através de formulários.
            </li>
            <li class="list-group-item">
                <strong>Informações de navegação:</strong> Dados como endereço IP, tipo de navegador, páginas acessadas e tempo de visita, coletados automaticamente por cookies e ferramentas de análise.
            </li>
        </ul>
    </section>

    <section class="mb-5">
        <h2 class="text-middle">3. Compartilhamento de Informações</h2>
        <p>Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para:</p>
        <ul class="list-group">
            <li class="list-group-item">Cumprir exigências legais ou ordens judiciais.</li>
            <li class="list-group-item">Prover serviços por meio de parceiros que respeitem esta Política de Privacidade.</li>
        </ul>
    </section>


    <section class="mb-5">
        <h2 class="text-middle">5. Segurança das Informações</h2>
        <p>
            Adotamos medidas de segurança para proteger suas informações contra acessos não autorizados, alterações ou divulgações indevidas.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="text-middle">6. Seus Direitos</h2>
        <p>Você tem o direito de:</p>
        <ul class="list-group">
            <li class="list-group-item">Solicitar acesso, correção ou exclusão de suas informações pessoais.</li>
            <li class="list-group-item">Retirar seu consentimento para o uso de suas informações a qualquer momento.</li>
        </ul>
    </section>

    <section class="mb-5">
        <h2 class="text-middle">7. Alterações nesta Política de Privacidade</h2>
        <p>
            Podemos atualizar esta Política de Privacidade periodicamente. A data da última revisão será indicada no topo desta página.
        </p>
    </section>

</main>
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2024 Seu Site. Todos os direitos reservados.</p>
</footer>
