@model Subscribe

@{
    ViewData["Title"] = "Unsubscribe";
}


<div class="container-fluid bg-middle vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="text-center" style="padding: 14em;margin:0 auto;">

        <div style="display: flex; justify-content: center;flex-direction: column;align-items: center;">
            <h1 class="display-4 mb-4">E-mail já cadastrado </h1>
            <p class="lead mb-4">Esse e-mail já recebe as nossas últimas atualizações e novidades.</p>
            <p class="lead mb-4">Caso tenha inserido o e-mail incorreto, tente novamente</p>

            <a href="@Url.Action("Subscribe", "SignNewsLetter")" class="btn btn-secondary btn-lg">Inscrever-se agora</a>
        </div>
    </div>
